*{
margin:0;
}

.body {
    background-image: url("img1/main.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main {
    background-color: rgb(0,0,0, 0.7);
    height: 298%;
    width: 100%;
    position: absolute;
}
.open1 {
    visibility: hidden;
}
.backgroundoverlay {
    background: rgba(235, 4, 4, 0.7);
}

.box1 {
    /* max-width: 1920px; */
    display: flex;
    margin: 0 auto;
width: 600px;
height: 55px;
/* border: 1px solid black; */
}
.vhod1 {
width: 450px;
height: 550px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    
    position: absolute;
    left:calc(50% - 225px);
    top:calc(50% - 275px);
}
.text-hidden1 {
    visibility: hidden;
    opacity: 1;
}
.exist1 {
    position: absolute;
    top: 20px;
    right: 20px;
width: 29px;
height: 29px;
font-size: 29px;
color: #686868;
cursor: pointer;
}
.imya {
    position: absolute;
    top: 108px;
    right:34px;
    width: 200px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.imya1 {
    position: absolute; 
    top: 113px;
    left: 49px;
    font-family: Roboto;
    font-weight:600;
    font-size: 14px;
}
.familia {
    position: absolute;
    top:168px;
    right:34px;
    width: 200px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}
.familia1 {
    position: absolute; 
    top:173px;
    left: 49px; 
    font-family: Roboto;
    font-weight:600;
    font-size: 14px;
}
.password1 {
    position: absolute;
    top:228px;
    right:34px;
    width: 200px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}
.password1-0 {
    position: absolute;
    top:233px;
    left:49px;
    font-family: Roboto;
    font-weight:600;
    font-size: 14px;
}
.password2 {
    position: absolute;
    top:288px;
    right:34px;
    width: 200px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}
.password2-1 {
    position: absolute;
    top:293px;
    left:49px; 
    font-family: Roboto;
    font-weight:600;
    font-size: 14px;
}
.sub1 {
    position: absolute;
    top: 370px;
    right: calc(50% - 102.5px);
width: 205px;
height: 45px;
background: #F0B110;
border-radius: 3px;
border: none;
color: white;
cursor: pointer;
font-family: Roboto;
font-size: 18px;
line-height: 21px;
text-align: center;
}
.sub1:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 15px #616161;
} 
.dopol1 {
    position: relative;
    top: 445px;
    left:calc(50% - 80px);
width: 160px;
height: 21px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #757575;
}
.social2 {
    list-style: none;
    color: rgb(133, 133, 133);
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    margin-top: 97%;
    cursor: pointer;
    padding-top: 5%;   
}

.vhod {
width: 450px;
height: 550px;
background: rgba(255, 255, 255, 0.85);
border-radius: 15px;
margin: 0 auto;
position: absolute;
    left:calc(50% - 225px);
    top:calc(50% - 275px);
}
.text-hidden {
    visibility: hidden;
}

.tvhod {
    position: absolute;
    left: 41px;
    top: 22px;
width: 55px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #686868;
}

.exist {
    position: absolute;
    top: 20px;
    right: 20px;
width: 29px;
height: 29px;
font-size: 29px;
color: #686868;
cursor: pointer;
}
.ic1 {
    position: absolute;
    top: 76px;
    left:calc(50% - 65.5px);
   font-size: 150px;
    color: #686868;
}
.username {
    position: absolute;
    top:280px ;
    left: 26px;
    width: 170px;
    height: 35px;
background: #D0D0D0;
border-radius: 10px;
border: none;
box-shadow: 2px 2px 0px rgb(139, 139, 139);
padding-left:15px;
font-size: 14px;
color: rgba(104, 104, 104, 0.75);

}
.password {
    position: absolute;
    top:280px ;
    right: 26px;
    width: 170px;
    height: 35px;
background: #D0D0D0;
border-radius: 10px;
border: none;
box-shadow: 2px 2px 0px rgb(139, 139, 139);
padding-left:15px;
font-size: 14px;
color: rgba(104, 104, 104, 0.75);
}
.sub {
    position: absolute;
    top: 370px;
    right:calc(50% - 65.5px);
width: 131px;
height: 45px;
background: #F0B110;
border-radius: 3px;
border: none;
color: white;
font-weight:bold;
cursor: pointer;
/* transition: 0.3s; */
}
.sub:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 15px #616161;
}
.social1 {
    list-style: none;
    color: rgb(133, 133, 133);
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    margin-top: 93%;
    cursor: pointer;
    padding-top: 5%;  
}

.soc {
width: 50px;
height: 50px;
border: solid 5px rgb(202, 202, 202);
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 0px black;
/* transition: 0.1s; */
}

.dopol {
    position: relative;
    top: 430px;
    left:calc(50% - 80px);
width: 160px;
height: 21px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #757575;
}
.pole {
color:#686868;
position: absolute;
top: 523px;
left: 5px;
width: 309px;
height: 21px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #686868;
}
.pole:hover {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.452);
}
.pole1 {
    color:#686868;
    position: absolute;
    top: 523px;
    right: 5px;
    width: 309px;
    height: 21px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #686868;
}
.pole1:hover {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.452);
}
.checkbox1 {
    position: absolute;
    top: 330px;
    left: 33px;
    width: 17px;
    height: 17px;
    background: #C4C4C4;
}
.checltext {
    position: absolute;
    top: 330px;
    left: 51px;
width: 95px;
height: 17px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #686868;

}
.mainimg {
    
    
}
.login {
display: block;
float: right;
margin-right: 30px;
margin-top: 15px;
width: 55px;
height: 22px;


font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 33px;
color: #FFFFFF;
transition: 0.5s;
cursor: pointer;
}
.login:hover {
    transition: 0.5s;
    text-shadow: 0px 0px 5px white;
    
}
.logo {
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    width: 79px;
    height: 22px;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    mix-blend-mode: normal;
}
.up {  
    color: #00FF38;  
}

.wordpress {
    font-size: 27px;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    color: #00FF38; 
}
.kontakti {
    display: block;
    margin-top: 6px;
    margin-right: 5%;
    margin-left: 38%;
float: right;
width: 113px;
height: 44px;


font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
color: #000000;
transition: 0.3s;
cursor: pointer;
}
.kontakti:hover {
    transition: 0.3s;
    color:rgb(255, 223, 116) ;
}
.vakansii {
    display: block;
    float: right;
    margin-top: 6px;
    margin-right: 5%;
width: 113px;
height: 44px;

font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
color: #000000;
transition: 0.3s;
cursor: pointer;
}
.vakansii:hover {
    transition: 0.3s;
    color:rgb(255, 223, 116) ;
}
.Oproekte {
    display: block;
    float: right;
    margin-top: 6px;
    /* margin-right: 5%; */
width: 121px;
height: 44px;
font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
transition: 0.3s;
color: #000000;
cursor: pointer;
}
.Oproekte:hover {
    transition: 0.3s;
    color:rgb(255, 223, 116) ; 
}
.poleregistra {
margin-top: 370px;
margin-left: 230px;
max-width: 223px;
max-height: 72px;
width: 100%;
height: 100%;
border-radius: 50%;
cursor: pointer;
background: #E9BD22;
border-radius: 36px;
transition: 0.3s;
outline: none;
}
.poleregistra:hover {
    transition: 0.3s;
box-shadow: 0px 0px 15px #616161;
}
.registr {
text-align: center;
font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 70px;
color: #FFFFFF;
}
/* body */
.med {
    width:99.9%;
    height:1800px;   
}
.im1 {
max-width: 500px;
max-height: 300px;
border-radius: 10px;
float: left;
margin-left:100px;
margin-top: 100px;
}
.im2 { 
max-width: 250px;
max-height: 300px;
float: right;
margin-top: 400px;
margin-right: 0px;
}
.im3 {
font-size: 230px;
color: #7F7F7F;
float: right;
margin-top: 200px;
margin-right: 100px;
}

.im4 {
    margin-top: -160px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #F7BE29;
}
.connect {
    width: 100%;
    height: 750px;   
}
.con {
    height: 800px;
    width: 100%;
}
.im5 {
    margin: 0 auto;
    margin-top: 120px;
width: 740px;
height: 56px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #F7BE29;

}
.knop {
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0 auto; 
   margin-top:50px ;
width: 223px;
height: 72px;
background: #E9BD22;
border-radius: 36px;
transition: 0.3s;
cursor: pointer;
}
.knop:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 15px #616161;
}
.im6 {
text-align: center;
font-family: Moul;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
color: #FFFFFF;

}
.im7 {
    
width: 614px;
height: 390px;
mix-blend-mode: normal;
border-radius: 10px;
margin: 0 auto;
}
.photo {
    text-align: center;
    margin-top:30px ;
}
.footer {
width: 100%;
height: 250px;
background: #DCDCDC;
}

.social {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 38%;
    margin-bottom:-150px;
    margin-top:0px;
    cursor: pointer;
    padding-top: 9%; 
}
.socilal__item {
    width: 50px;
    height: 50px;
   border: solid 5px white;
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 0px black;
   transition: 0.5s;
   
}


.facebook-f:hover {
    transition: 0.5s;
    color: rgb(36, 68, 250);
    border: solid 5px rgb(36, 68, 250);
    box-shadow: 0px 0px 20px rgb(36, 68, 250);
}

.google:hover {
    transition: 0.5s;
    color: rgb(89, 158, 92);
    border: solid 5px rgb(89, 158, 92);
    box-shadow: 0px 0px 20px rgb(89, 158, 92);  
}

.instagram:hover {
    transition: 0.5s;
    color: rgb(219, 99, 203);
    border: solid 5px  rgb(219, 99, 203);
    box-shadow: 0px 0px 20px rgb(219, 99, 203);
}


.vk:hover {
    transition: 0.5s;
    color: rgb(48, 138, 241);
    border: solid 5px rgb(48, 138, 241);
    box-shadow: 0px 0px 20px rgb(48, 138, 241);
}

.twitter:hover {
    transition: 0.5s;
    color: rgb(64, 218, 238);
    border: solid 5px  rgb(64, 218, 238);
    box-shadow: 0px 0px 20px rgb(64, 218, 238);
}
.appstore {
    display: inline-block;
    margin-left:102px ;
width: 180px;
height: 60px;
cursor: pointer;
background:  #DCDCDC;
border: 0.5px solid #7777772f;
box-sizing: border-box;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
transition: 0.2s;
}
.appstore:hover {
    transition: 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
}
.apple {
color: #464646;
font-size: 50px;
display: inline-block;
position: relative;
bottom: 55px;
left: 15px;
}
.zagruz {
width: 83px;
height: 18px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #3E3E3E;
margin-left: 80px;
margin-top: 10px;
}
.app {
width: 105px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: #3E3E3E;
margin-left: 78px;
}
.soft {
height: 80px;
width:100%;
/* border: 1px solid black; */
margin-top:-80px;
}
.googlestore {
    display: inline-block;
    margin-left:50px ;
    width: 180px;
    height: 60px;
cursor: pointer;
background: #DCDCDC;
border: 0.5px solid #7777772f;
box-sizing: border-box;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
transition: 0.2s;
}
.googlestore:hover {
    transition: 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
}
.playstore {
font-size: 45px;
color: #464646;
display: inline-block;
position: relative;
bottom: 50px;
left: 15px;
}
.zagruz1 {
width: 83px;
height: 18px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #3E3E3E;
margin-left: 70px;
margin-top: 10px;
}
.app1 {
width: 127px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: #3E3E3E;
margin-left: 68px;
margin-top: 0px;
}
.text {
    position: absolute;
    bottom: -205%;
    left: 40%;
width: 392px;
height: 35px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;

}
.g2020 {
    
width: 392px;
height: 35px;
font-family: Roboto;
font-style: normal;
font-weight:300 ;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000; 
}
.wp {
    position: absolute;
    left: 85%;
    top: 287%;
width: 146px;
height: 35px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #000000;

}
.fottext {
    position: absolute;
    left: 88.9%;
    top: 292%; 
    line-height: 33px; 
    font-size: 20px;
    color: #3E3E3E; 
}
.mainfotter {
    height: 195px;
    width: 100%;
}
.arrow {
    font-size:50px ;
    right: 50px;
    bottom: 0px;
    position: fixed;
    color: rgb(255, 235, 56);
    cursor: pointer;
    /* box-shadow: inset 0 0 0 4px rgb(255, 235, 56); */
    /* opacity: 0; */
    transition: 0.3s;
    transform: translateY(-50px);  
}
.arrow-hidden {
    visibility: hidden;
    transition-duration: 0.3s;
    transform: translateY(60px);  
}