*{
    margin: 0;
}
body {
    background: url(img/footer.jpg) no-repeat 100.5% 90.98%  ,
                url(img/screp.jpg) no-repeat -20% 8%,
                url(img/list.jpg) no-repeat 122% 7.5%;               
}
.header {
    width: 100%;
}

.clear {
    clear: both;
}

.header__block {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 5%;
    padding-bottom:10px ;
}
.header__circle {
margin-right: 1%;
}
.header-img {
    width: calc(15px + 25 * (100vw / 1920));
}

.header__button {
    display: inline-block;
}
.header__button_text {
color: #000000;
font-size: calc(4px + 14 * (100vw / 1920));
font-family: Roboto;
max-width:calc(80px + 80 * (100vw / 1920));
padding: calc(6px + 3 * (100vw / 1920));
border-radius: 5px;
background: #FFE08F;
text-align: center;
}

.header__logo {
    font-family: Roboto;
    text-align: center;
}
.header__logo_text {
    margin-bottom: 40px;
}
.header__logo_work {
    font-size: calc(55px + 89 * (100vw / 1920));
}

.header__color_text {
color: #6AFC8A;
font-size: calc(55px + 89 * (100vw / 1920));
margin-bottom: 0px;
}
.header__border {
    border: 1px solid black;
    max-height: calc(105px + 115 * (100vw /1920));
    max-width:calc(80px + 100 * (100vw /1920));
}
.header__capsule {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.header__capsule_text {
    position: relative;
    bottom: 10px;
    left: 8%;
    font-size: calc(8px + 8 * (100vw / 1920));
}
.header__new_users {
    position: relative;
    bottom: 10px;
    left: 8%;
    font-size:calc(6px + 8 * (100vw / 1920));
}
.header__text_up {
    font-size: calc(8px + 8 * (100vw / 1920));
}
/* --------ads-------- */
.ads {
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 5%;
    font-family: Roboto;
}
.ads__block {
    width: 400px;
}
.ads__text {
    font-size: calc(14px + 10 * (100vw / 1920));
    margin-bottom: 8%;
    margin-right: 10px;
}
.ads__border {
width: calc(120px + 169 * (100vw / 1920));
height: calc(80px + 55 * (100vw / 1920));
background: #EDEDED;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 0 auto;
}

/* ----ad_1---- */
.ads__first {
    font-size: calc(14px + 10 * (100vw / 1920));
    color: #2D2D2D;
    margin-left: 5%;
    
}
.ads__salary {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #ebba3f;
    margin-left: 5%;
}
.ads__location {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #666666;
    margin-left: 5%;
}
.ads__icon {
    font-size: calc(16px + 20 * (100vw / 1920));
    color: #EFBC05;
}
.ads_position1 {
    margin-left:23%;
}
/* ----ad_2---- */
.ads__pos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads__img {
    width: calc(100px + 80 * (100vw / 1920));
    height: calc(35px + 25 * (100vw / 1920));
}
.ads_position2 {
    margin-left:8%;  
}
/* ----ad_3---- */

.ads__profession {
    font-size: calc(24px + 12 * (100vw / 1920));
    color: #2D2D2D;
    margin-left: 15%;
}
.ads__amount {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #666666;
    margin: 6% 0 0 5% ; 
    text-align: start;
}
.ads_position3 {
    margin-left:10%;  
}
/* ----ADAPTIV ADS---- */
@media (max-width:320px) {
    .ads__text {
        
    }    
}
/* ----search---- */
.search {
    padding-top: 3%;
}
.search__block {
display: flex;
justify-content: center;
align-items: center;
}
.search__pole {
height: calc(20px + 45 * (100vw / 1920));
width: calc(300px + 1100 * (100vw / 1920));
background: #e2e2e2;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px 0 0 50px;
} 
.search__input {
    border: none;
    outline: none;
    background: none;
    font-size: calc(10px + 8 * (100vw / 1920));
    width: 72%;
    margin-left: 5%;
}
.search__icon {
    font-size: calc(10px + 15 * (100vw / 1920));
    cursor: pointer;
    margin-right: 30px;
}

.search__button {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search__position {
    height: calc(20px + 45 * (100vw / 1920));
    width: 130px;
    background: #FFD056;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__text {
color: white;
font-size: calc(14px + 22 * (100vw / 1920));
font-family: Roboto;
}
/* ---jobs--- */
.ads_1 {
    max-width: calc(320px + 960 * (100vw / 1920));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: Roboto;
}
.ads__block1 {
    width: calc(80px + 270 * (100vw / 1920));
    padding-top: 3.5%;
}

.ads__border1 {
width: calc(60px + 229 * (100vw / 1920));
height: calc(40px + 95 * (100vw / 1920));
background: #EDEDED;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 0 auto;
}

.ads__first1 {
    font-size: calc(5px + 16 * (100vw / 1920));
    color: #2D2D2D;
    margin-left: 5%;
    padding-bottom: 10%;
}
.ads__salary1 {
    font-size: calc(4px + 14 * (100vw / 1920));
    color: #ebba3f;
    margin-left: 5%;
}
.ads__location1 {
    font-size: calc(4px + 14 * (100vw / 1920));
    color: #666666;
    margin-left: 5%;
}
.ads__icon1 {
    font-size: calc(8px + 28 * (100vw / 1920));
    color: #EFBC05;
}
.ads_position_1 {
    /* margin-left:23%;   */
}

/* -----UNDERLINE----- */

.underLine {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 5%;
}
.underLine__style {
    display: inline-block;
    border: none; 
    background-color: #686868; 
    color: #686868; 
    height: 2px; 
    width: calc(50px + 807 *(100vw / 1920));
}

/* -----Professions----- */

.center {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.center__block {
    width: calc(100px + 900 * (100vw / 1920));
    height: calc(30px + 50 * (100vw / 1920));
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center__button {
    width: calc(50px + 300 * (100vw / 1920));
    height: calc(20px + 50 * (100vw / 1920));
    border-radius: 3px;
    background: #FFD056;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.center_button-text {
    font-family: Roboto, sans-serif;
    font-size: calc(5px + 28 * (100vw / 1920));
    color: #FFF3F3;
}
.center__block-arrow {
    width: 320px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_arrow {
    width: calc(5px + 25 * (100vw / 1920));
    margin-top: 9%;
    margin-right: 3%;
}
.center_arrow1 {
    width: calc(5px + 25 * (100vw / 1920));
    margin-top: 9%;
    margin-left: 3%;
}
.center_underArrow {
    width: calc(10px + 20 * (100vw / 1920));
}
.center_line {
    width: calc(25px + 275 * (100vw / 1920)); 
}
.center__underArrow {
    width: calc(100px + 900 * (100vw / 1920));
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.block {
    width: 100%;
    height: calc(150px + 320 * (100vw / 1920));
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block__mini {
    width: calc(50px + 440 * (100vw / 1920));
    height: calc(150px + 307 * (100vw / 1920));
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}
.block-text {
    font-family: Roboto, sans-serif;
    font-size: calc(5px + 19 * (100vw / 1920));
    padding-top:calc(5px + 10 * (100vw / 1920));
    color: #000000;
}
.block_text:hover {
    color: rgb(28, 115, 255);
}
/* -----FOOTER----- */

.footer {
    width: 100%;
    height: 727px;
    margin-top: 10%;
}
.footer__block {
    width: 100%;
}
.footer__miniblock {
    width: calc(220px + 550 * (100vw / 1920));
    height: 85px;
    margin: 0 auto;
    text-align: center;
}
.footer-text1 {
    font-family: Roboto, sans-serif;
    font-size: calc(8px + 28 * (100vw / 1920));
}
.footer-text2 {
    font-family: Roboto, sans-serif;
    font-size: calc(5px + 19 * (100vw / 1920));
}
.footer__buttonblock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__button {
    width: calc(50px + 350 * (100vw / 1920));
    height: calc(20px + 80 * (100vw / 1920));
    background: #F0B110;
    border-radius: 3px;
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text3 {
    font-family: Roboto, sans-serif;
    font-size: calc(5px + 25 * (100vw / 1920));
    color: #FFFFFF;
}
.footer__img {
    position: absolute;
    right: 0px;
    top: 190%;
}

/* -----visitka----- */

.panel {
    width: 100%;
    height: 200px;
    background: rgb(199, 199, 199);
    display: flex;
}
.panel__block-apps {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.panel__store {
    width: 213px;
    height: 72px;
    background: #DCDCDC;
    border: 1px solid #777777;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.panel-download {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #464646;
}
.panel-store {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #464646;
}
.panel__social {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social {
    height: 70px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    cursor: pointer;
    }
    .socilal__item {
    width: 60px;
    height: 60px;
    border: solid 5px white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px black;
    transition: 0.5s;
    }
    .fab {
        font-size: 20px;
    }
    
    .facebook-f:hover {
        transition: 0.5s;
        color: rgb(36, 68, 250);
        border: solid 5px rgb(36, 68, 250);
        box-shadow: 0px 0px 20px rgb(36, 68, 250);
    }
    
    .google:hover {
        transition: 0.5s;
        color: rgb(89, 158, 92);
        border: solid 5px rgb(89, 158, 92);
        box-shadow: 0px 0px 20px rgb(89, 158, 92);  
    }
    
    .instagram:hover {
        transition: 0.5s;
        color: rgb(219, 99, 203);
        border: solid 5px  rgb(219, 99, 203);
        box-shadow: 0px 0px 20px rgb(219, 99, 203);
    }
    
    
    .vk:hover {
        transition: 0.5s;
        color: rgb(48, 138, 241);
        border: solid 5px rgb(48, 138, 241);
        box-shadow: 0px 0px 20px rgb(48, 138, 241);
    }
    
    .twitter:hover {
        transition: 0.5s;
        color: rgb(64, 218, 238);
        border: solid 5px  rgb(64, 218, 238);
        box-shadow: 0px 0px 20px rgb(64, 218, 238);
    }
    .panel__services1 {
        width: 12%;
    height: 100%;
    }
.panel__services {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.panel-head {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}
.panel-color {
    color: #6AFC8A;
}
.panel-advertising {
    font-family: Roboto;
    font-size: 20px;
    color: #3E3E3E;
    padding-top: 3%;
    padding-left: 20%;
    cursor: pointer;
}
.panel-imgapple {
    width: 50px;
}
@media (max-width: 1463px) {
    .panel__store {
        width: 150px;
        height: 50px;
    }
    .panel-imgapple {
        width: 30px;
    }
    .panel-download {
        font-size: 12px;
    }
    .panel-store {
        font-size: 17px;
    }
    .socilal__item {
        width: 45px;
        height: 45px;
    }
    .panel-head {
        font-size: 24px;
    }
    .panel-advertising {
        font-size: 18px;
    }
    body {
        background: url(img/footer.jpg) no-repeat 100.5% 90.98%,
                    url(img/screp.jpg) no-repeat -20% 8%,    
    }
}
@media (max-width: 1218px) {
    .panel {
        width: 100%;
        height: 150px;
    }
    .panel__store {
        width: 120px;
        height: 40px;
    }
    .panel-imgapple {
        width: 25px;
    }
    .panel-download {
        font-size: 10px;
    }
    .panel-store {
        font-size: 15px;
    }
    .socilal__item {
        width: 40px;
        height: 40px;
        border: solid 3px white;
    }
    .panel-head {
        font-size: 20px;
    }
    .panel-advertising {
        font-size: 13px;
    }
    body {
        background: url(img/screp.jpg) no-repeat -20% 8%;   
    }
    .footer {
        width: 100%;
        height: 400px;
        margin-top: 10%;
    }
    .fab {
        font-size: 15px;
    }
}
@media (max-width: 983px) {
    .panel__store {
        width: 120px;
        height: 40px;
    }
    .panel-imgapple {
        width: 25px;
    }
    .panel-download {
        font-size: 10px;
    }
    .panel-store {
        font-size: 15px;
    }
    .socilal__item {
        width: 35px;
        height: 35px;
        border: solid 3px white;
    }
    .panel-head {
        font-size: 18px;
    }
    .panel-advertising {
        font-size: 12px;
    }
    .fab {
        font-size: 10px;
    }
    body {
        background: url(img/footer.jpg) no-repeat 100.5% 90.98%,
                    url(img/screp.jpg) no-repeat -20% 8%,    
    }
}
@media (max-width: 838px) {
    .panel__store {
        width: 110px;
        height: 35px;
        font-size: 13px;
    }
    .panel__block-apps {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .panel-imgapple {
        width: 20px;
    }
    .panel-download {
        font-size: 8px;
    }    
    .socilal__item {
        width: 30px;
        height: 30px;
        border: solid 3px white;
    }
    .panel-head {
        font-size: 18px;
    }
    .panel-advertising {
        font-size: 12px;
    }
    .fab {
        font-size: 10px;
    }
    body {
        background: none;  
    }
    .footer {
        width: 100%;
        height: 250px;
        margin-top: 0px;
    }
}
@media (max-width: 700px) {
    .panel__store {
        width: 80px;
        height: 30px;
        font-size: 13px;
    }
    .panel__block-apps {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .panel-imgapple {
        width: 17px;
    }
    .panel-download {
        font-size: 7px;
    }    
    .panel-store {
        font-size: 10px;
    }
    .socilal__item {
        width: 25px;
        height: 25px;
        border: solid 3px white;
    }
    .social {
        height: 70px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    .panel-head {
        font-size: 12px;
    }
    .panel-advertising {
        font-size: 8px;
    }
    .fab {
        font-size: 8px;
    }
    body {
        background: none;  
    }
    .footer {
        width: 100%;
        height: 250px;
        margin-top: 0px;
    }
}