*{
    margin: 0;
}
body {
    /* background: url(img/leftright.jpg) no-repeat -12% 60% ,
                url(img/up.jpg) no-repeat 65% 90%,
                url(img/list.jpg) no-repeat 122% -50%; */
                
}
.header {
    width: 100%;
}

.clear {
    clear: both;
}

.header__block {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    padding-bottom:10px ;
}
.header__circle {
display: inline-block;
/* margin-right: 12px; */
}

.header__text {
    color: #5A5A5A; 
    font-size:calc(10px + 14 * (100vw / 1920));
    font-family: Roboto;
    width: calc(13px + 17 * (100vw / 1920));
    border-radius: 50%;
    background: #E9E9E9;
    text-align: center;
    padding:calc(3px + 5 * (100vw / 1920));
    border: 2px solid #CFCECE;
}

.header__button {
    display: inline-block;
    /* margin-right: 47px; */
}
.header__button_text {
color: #000000;
font-size: calc(4px + 14 * (100vw / 1920));
font-family: Roboto;
max-width:calc(80px + 80 * (100vw / 1920));
padding: calc(6px + 3 * (100vw / 1920));
border-radius: 5px;
background: #FFE08F;
text-align: center;
}

.header__logo {
    font-family: Roboto;
    text-align: center;
}
.header__logo_text {
    margin-bottom: 40px;
}
.header__logo_work {
    font-size: calc(55px + 89 * (100vw / 1920));
}

.header__color_text {
color: #6AFC8A;
font-size: calc(55px + 89 * (100vw / 1920));
margin-bottom: 0px;
}
.header__border {
    border: 1px solid black;
    max-height: calc(105px + 115 * (100vw /1920));
    max-width:calc(80px + 100 * (100vw /1920));
}
.header__capsule {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.header__capsule_text {
    position: relative;
    bottom: 10px;
    left: 8%;
    font-size: calc(8px + 8 * (100vw / 1920));
}
.header__new_users {
    position: relative;
    bottom: 10px;
    left: 8%;
    font-size:calc(6px + 8 * (100vw / 1920));
}
.header__text_up {
    font-size: calc(8px + 8 * (100vw / 1920));
}
/* --------ads-------- */
.ads {
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 8%;
    font-family: Roboto;
}
.ads__block {
    width: 400px;
}
.ads__text {
    font-size: calc(14px + 10 * (100vw / 1920));
    margin-bottom: 8%;
    margin-right: 10px;
}
.ads__border {
width: calc(120px + 169 * (100vw / 1920));
height: calc(80px + 55 * (100vw / 1920));
background: #EDEDED;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 0 auto;
}

/* ----ad_1---- */
.ads__first {
    font-size: calc(14px + 10 * (100vw / 1920));
    color: #2D2D2D;
    margin-left: 5%;
    
}
.ads__salary {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #ebba3f;
    margin-left: 5%;
}
.ads__location {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #666666;
    margin-left: 5%;
}
.ads__icon {
    font-size: calc(16px + 20 * (100vw / 1920));
    color: #EFBC05;
}
.ads_position1 {
    margin-left:23%;
}
/* ----ad_2---- */
.ads__pos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads__img {
    width: calc(100px + 80 * (100vw / 1920));
    height: calc(35px + 25 * (100vw / 1920));
}
.ads_position2 {
    margin-left:8%;  
}
/* ----ad_3---- */

.ads__profession {
    font-size: calc(24px + 12 * (100vw / 1920));
    color: #2D2D2D;
    margin-left: 15%;
}
.ads__amount {
    font-size: calc(8px + 10 * (100vw / 1920));
    color: #666666;
    margin: 6% 0 0 5% ; 
    text-align: start;
}
.ads_position3 {
    margin-left:10%;  
}
/* ----ADAPTIV ADS---- */
@media (max-width:320px) {
    .ads__text {
        
    }    
}